@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.bookList-container {
  padding: 20px 60px;
}

.bookList-container li {
  list-style: none;
  border-radius: 4px;
  border: 1px solid #ccc;
  margin-bottom: 15px;
  padding: 20px 20px;
}

.book-category {
  color: #717171;
  font-weight: 600;
}

.book-title {
  font-size: 20px;
  font-weight: 700;
}

.book-author {
  padding-bottom: 10px;
}

.book-author,
.book-container-buttons button {
  font-size: 14px;
  color: rgb(103, 157, 204);
}

.book-container-buttons button {
  border: none;
  background-color: transparent;
  padding-right: 20px;
  border-right: 1px solid #ccc;
}

.book-container-buttons button:last-child {
  border: none;
}

.book-container-buttons button:nth-child(2),
.book-container-buttons button:last-child {
  padding-left: 20px;
}

.circular-progress-bar {
  width: 70px;
  height: 70px;
}

.book-card,
.book-progress-container {
  display: flex;
  align-items: center;
}

.book-progress-text {
  padding-left: 25px;
  padding-right: 40px;
  border-right: #e8e8e8 1px solid;
}

.book-progress-percentage {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
}

.book-progress-completed {
  color: #121212;
  opacity: 0.5;
}

.book-chapter-container {
  padding-left: 50px;
}

.book-current-chapter {
  opacity: 0.5;
  font-family: RobotoSlab;
  font-size: 0.813rem;
  font-weight: 300;
  color: #121212;
}

.book-current-lesson {
  color: #121212;
  font-weight: 300;
  font-size: 1rem;
  padding-bottom: 15px;
}

.book-chapter-container button {
  background-color: #0290ff;
  border: none;
  padding: 0.438rem 1.188rem 0.5rem 1.375rem;
  color: white;
  border-radius: 4px;
  font-size: 0.813rem;
  font-weight: 100;
}

.book {
  width: 55%;
}
